<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <h1>This is the Home Page</h1> 
   <h3><%= "Satyam Mishra".toUpperCase() %></h3>
   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit ullam illum iusto a nobis reprehenderit! Quod repudiandae commodi sed deleniti facere quam facilis expedita animi, dolorum natus harum amet hic ullam eaque nulla molestias omnis magni quo culpa quas at aperiam inventore officia sunt. Totam qui dolores recusandae impedit consequatur?</p>
   <button>Click-me!</button>
</body>
</html>